*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial,Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #eab4b4;
    color: #333333;
    padding: 20px;
}
header{
    background-color: #b9589a;
    color:#fbf2f9;
    padding:10px;
    text-align:center;
}
hr{
    margin: 20px 0;
}
nav{
    background-color: #fbfcfd;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
}
nav a{
    color: #6058b9;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
main{
    margin:auto;
    width: 90%;
    margin-top: 30px;
}
section{
    margin-bottom: 30px;
    background-color: #ccc1ec;
    padding: 20px;
    border-radius: 20px;
}
h2{
    color: #0c0e75;
    margin-bottom: 10px;
}
p{
    color: #1a1985;
    margin-bottom: 10px;
}
.banner{
    width: 60%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;

}
ul{
    list-style-type: disc;
    margin-left: 50px;
    padding: 10px;

}
li{
    margin-bottom: 10px;
}
article{
    background-color: rgb(109, 182, 241);
    padding: 20px;
    border-radius: 10px;
}
article:hover{
    background-color: #86e9b7;
}
table{
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    color:#1508a5
}
td{
    padding: 10px;
    text-align: center;
}
table, th, td{
    border:1px solid #d7cbf7
}
tr:hover{
    background-color: #baeb6b;
}
ol{
    margin-left: 50px;
    padding: 10px;
}
ol li {
    margin-bottom: 10px;
}form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}
    input:not([type="submit"]):not([type="radio"]) {
    width: 60%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    }
    

    

