<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/style.css">
    <title>login page</title>
</head>
<body>
    <header>
    <h1> login with NRIIT learing management system</h1>
    <p>learn practice get placed</p>
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
        <a href="/courses">courses</a>
        <a href="/login">login</a>
        <a href="/register">register</a>
        <a href="/trainers">trainers</a>
     
    <nav>
    <hr>
    </header>
    <main>
        <h2>Student login</h2>
        <form id="loginForm">
            <label>Email</label>
            <input type="email" placeholder="Enter your Email" id="loginEmail"><br><br>
            <label>password</label>
            <input type="password" placholder="enter your passpord" id="password"><br><br>
            <button type="submit" value="login">login</button>
        </form>
    </main>
    <footer>
        <hr>
        <p>&copy; 2026 NRIIT learing management system</p>
        <p>email: info@nriit.edu</p>
        <p>phone: +91 9876543210</p>
        <p>follow us:</p>
        <a href="#">facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Linkedin</a>
        </footer>
        <script src="js/script.js"></script>

    
</body>
</html>