<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/style.css">
    <title>register page</title>
</head>
<body>
    <header>
    <h1> signup withNRIIT learing management system</h1>
    <p>learn practice get placed</p>
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
        <a href="/courses">courses</a>
        <a href="/login">login</a>
        <a href="/register">register</a>
        <a href="/trainers">trainers</a>
    <nav>
    <hr>
    </header>
    <main>
        <h2>student Registraction</h2>
        <form id="registerForm" >
            <label>Full name</label>
            <input type="text" placeholder="enter your name" id="name"><br><br>
            <label>Email</label>
            <input type="Email" placeholder="enter your Email" id="email"><br><br>
            <label>password</label>
            <input type="password" placeholder="enter your password" id="password"><br><br>
            <label>Date of Birth</label>
            <input type="date" id="date"><br><br>
            <label>Gender</label>
            <input type="radio" name="gender"
            value="male" id="male">male
            <input type="radio" name="gender"
            value="female" id="female">female
            <br><br>
            <label>select course</label>
            <select id="course" name="course">
                <option id="python">Python fullstack</options>
                <option id="java">Java fullstack</option>
                <option id="Data science">Data science</option>
            </select>
            <br><br>
            <button type="submit" 
            value="register">Register</button>
        </form>
    </main>
    <footer>
        <hr>
        <p>&copy; 2026 NRIIT learing management system</p>
        <p>email: info@nriit.edu</p>
        <p>phone: +91 9876543210</p>
        <p>follow us:</p>
        <a href="#">facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Linkedin</a>
        </footer>
        <script src="js/script.js"></script>
    
</body>
</html>